In [53]:
import pandas as pd

credit_df = pd.read_csv('modified_data.csv' , low_memory=False)
# dropping customer id column
credit_df = credit_df.drop('Customer_ID', axis=1)

credit_df = credit_df.drop('Monthly_Inhand_Salary', axis=1)
credit_df.to_csv('modified_data.csv')
# print(credit_df.columns)

In [54]:
# Decrease salaries greater than 800000
max_salary = 800000
salary_column = 'salary_in_TZS'

# Filter and update salaries
filtered_salaries = credit_df.loc[credit_df[salary_column] > max_salary, salary_column]
credit_df.loc[credit_df[salary_column] > max_salary, salary_column] = filtered_salaries - 800000

# saving changes
credit_df.to_csv('modified_data.csv')

# Print the updated DataFrame
print(credit_df.head(5))

       ID     Month           Name   Age   Unnamed: 5 Occupation  \
0  0x1602   January  Aaron Maashoh    23  821-00-0265  Scientist
1  0x1603  February  Aaron Maashoh    23  821-00-0265  Scientist
2  0x1604     March  Aaron Maashoh  -500  821-00-0265  Scientist
3  0x1605     April  Aaron Maashoh    23  821-00-0265  Scientist
4  0x1606       May  Aaron Maashoh    23  821-00-0265  Scientist

  Annual_Income  Num_Bank_Accounts  Num_Credit_Card  Interest_Rate  ...  \
0      19114.12                  3                4              3  ...
1      19114.12                  3                4              3  ...
2      19114.12                  3                4              3  ...
3      19114.12                  3                4              3  ...
4      19114.12                  3                4              3  ...

  Outstanding_Debt Credit_Utilization_Ratio     Credit_History_Age  \
0           809.98                26.822620  22 Years and 1 Months
1           809.98                31.944960                    NaN
2           809.98                28.609352  22 Years and 3 Months
3           809.98                31.377862  22 Years and 4 Months
4           809.98                24.797347  22 Years and 5 Months

  Payment_of_Min_Amount Total_EMI_per_month  Amount_invested_monthly  \
0                    No           49.574949              80.41529544
1                    No           49.574949              118.2802216
2                    No           49.574949              81.69952126
3                    No           49.574949              199.4580744
4                    No           49.574949              41.42015309

                  Payment_Behaviour Monthly_Balance  Credit_Score  \
0   High_spent_Small_value_payments     312.4940887          Good
1    Low_spent_Large_value_payments     284.6291625          Good
2   Low_spent_Medium_value_payments     331.2098629          Good
3    Low_spent_Small_value_payments     223.4513097          Good
4  High_spent_Medium_value_payments      341.489231          Good

  salary_in_TZS
0   3661741.949
1           NaN
2           NaN
3           NaN
4   3661741.949

[5 rows x 27 columns]

In [29]:
print(credit_df.iloc[0:5])

       ID     Month           Name   Age   Unnamed: 5 Occupation  \
0  0x1602   January  Aaron Maashoh    23  821-00-0265  Scientist
1  0x1603  February  Aaron Maashoh    23  821-00-0265  Scientist
2  0x1604     March  Aaron Maashoh  -500  821-00-0265  Scientist
3  0x1605     April  Aaron Maashoh    23  821-00-0265  Scientist
4  0x1606       May  Aaron Maashoh    23  821-00-0265  Scientist

  Annual_Income  Num_Bank_Accounts  Num_Credit_Card  Interest_Rate  ...  \
0      19114.12                  3                4              3  ...
1      19114.12                  3                4              3  ...
2      19114.12                  3                4              3  ...
3      19114.12                  3                4              3  ...
4      19114.12                  3                4              3  ...

  Credit_Mix Outstanding_Debt  Credit_Utilization_Ratio  \
0          _           809.98                 26.822620
1       Good           809.98                 31.944960
2       Good           809.98                 28.609352
3       Good           809.98                 31.377862
4       Good           809.98                 24.797347

      Credit_History_Age Total_EMI_per_month  Amount_invested_monthly  \
0  22 Years and 1 Months           49.574949              80.41529544
1                    NaN           49.574949              118.2802216
2  22 Years and 3 Months           49.574949              81.69952126
3  22 Years and 4 Months           49.574949              199.4580744
4  22 Years and 5 Months           49.574949              41.42015309

                  Payment_Behaviour Monthly_Balance  Credit_Score  \
0   High_spent_Small_value_payments     312.4940887          Good
1    Low_spent_Large_value_payments     284.6291625          Good
2   Low_spent_Medium_value_payments     331.2098629          Good
3    Low_spent_Small_value_payments     223.4513097          Good
4  High_spent_Medium_value_payments      341.489231          Good

  salary_in_TZS
0   4461741.949
1           NaN
2           NaN
3           NaN
4   4461741.949

[5 rows x 26 columns]

In [ ]:
# reading each row in entire row
# for index, row in credit_df.iterrows():
#     print(index, row['Name'], credit_df.iloc[1:10])

In [67]:
print(credit_df.columns)
credit_df.to_csv('modified_data.csv')

Index(['ID', 'Name', 'Age', 'Unnamed: 5', 'Occupation', 'Annual_Income',
       'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan',
       'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
       'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix',
       'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score', 'salary_in_TZS'],
      dtype='object')

In [72]:
# changing unnamed column to phone number
# Change the name of a single column
credit_df.rename(columns={'Unnamed: 5': 'Phone'}, inplace=True)
credit_df.to_csv('modified_data.csv')
print(credit_df.columns)

Index(['ID', 'Name', 'Age', 'Phone', 'Occupation', 'Annual_Income',
       'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan',
       'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
       'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix',
       'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score', 'salary_in_TZS'],
      dtype='object')

In [73]:
# dropping empty rows
credit_df.dropna(inplace=True)
credit_df.to_csv('modified_data.csv')

In [75]:
# Limit maximum salary value to 8000000
max_salary = 8000000
credit_df['Salary_in_TZS'] = credit_df['salary_in_TZS'].clip(upper=max_salary)

In [76]:
# print(credit_df[['Name','Occupation', 'salary_in_TZS']])
# credit_df= credit_df.drop('df', axis=1)
# print(credit_df.head(10))

In [79]:
# Get the column names of the DataFrame
columns = credit_df.columns.tolist()

# Move 'Salary_in_TZS' to the desired position
columns.insert(3, columns.pop(-1))

# Reorder the DataFrame columns
credit_df = credit_df[columns]
print(credit_df.columns)
credit_df.to_csv('modified_data.csv')

Index(['ID', 'Name', 'Age', 'Credit_Score', 'salary_in_TZS', 'Salary_in_TZS',
       'Phone', 'Occupation', 'Annual_Income', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance'],
      dtype='object')

In [81]:
# Convert 'Age' column to numeric values
credit_df['Age'] = pd.to_numeric(credit_df['Age'], errors='coerce')

# Remove rows with negative values and values above 90 in 'Age' column
credit_df = credit_df[(credit_df['Age'] >= 0) & (credit_df['Age'] <= 90)].copy()

credit_df.to_csv('cleaned_data.csv')